<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./inc/head')%>
</head>

<body>

    <%-include('./inc/nav')%>

        <section>
            <h1>
                Yazılar
            </h1>
            <ul>
                <% blogs.forEach(element => { %>
                    <li>
                        <a href="/blog/<%=element._id%>">
                            <%=element.title%>
                        </a>
                        <p>
                            <%=element.short%>
                        </p>
                    </li>
                    <% }) %>
            </ul>
        </section>

</body>

</html>